*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;    
}
a{
    transition: all 0.5s ease-in-out 0s;    
}
.section-pading{
    padding: 100px 0;
}
.bg-dark{
    background-color: #11141b;        
}
.container{    
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 250px;
    margin-right: 250px;
}
.menu-nav{        
    width: 100%;        
    z-index: 100;    
    position: fixed;     
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu-nav__link{
    display: flex;
    justify-content: space-between;
    align-content: center;      
}
.menu-nav__link a{
    transition: all 0.5s ease-in-out 0s;
}
.menu-nav__link a:hover{
    opacity: 0.5;
}
.menu-nav__link > a{
    /*padding-left: 20px;*/    
    font-size: 30px;
    text-decoration: none;
    color: #ffc209;
    font-weight: bold;
    opacity: 1;
}
.menu-nav__link > a:hover{
    opacity: 1;
}
.fixed-top{
     height: 40px;     
     background-color: white;         
     transition: all 1s ease-in-out;
}
.removeFixed{
    background-color: transparent;
    transition: all .7s linear;
}
.menu-nav.fixed-top--color  a{
    color: black;
}
ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul li{
    list-style: none; 
    padding-left: 30px;   
}
ul a{
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.header{
    background: url(./imagenes/home-bg.jpg);
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    /*height: 100vh;*/
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: 0;
    padding-bottom: 0px;
}   
.hero__equal{
    position: relative;
    min-height: 660px;
    /*width: 100%;
    height: 100%;*/
}
.header__text-center{
    position: absolute;  
    left: 0;
    right: 0;  
    bottom: 100px;
    color: white;
}
.header__text-center h3{
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.header__text-content-words h1{
    margin-bottom: 20px;  
    font-size: 60px;
    font-weight: bolder;  
}
.header__socialmedia a{
    display: inline-block;
    color: white;
    padding: 0px 10px;   
    transition: all 0.5s ease-in-out 0s; 
}
.header__socialmedia a:hover{
    opacity: .5;
}

.button{    
    display:inline-block;    
    padding: 12px 30px;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;    
    color: white;
    background-color: #f55422; 
    margin-right: 15px;    
    margin-top: 25px;
    margin-bottom: 50px;
    vertical-align: middle;
    transition: all 0.5s ease-in-out;
    border: 2px solid #f55422;
    text-decoration: none;    
}
.button:hover{
    color: #fff;
    background: transparent;
    border: 2px solid #f55422;
    opacity: 1;
}
/*********************** A B O U T ******************/
.about{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    
    align-items: center;  
    color: white;  
}

.about__contain{
    display: flex;
    justify-content:space-between;   
    flex-direction: row;   
    
    align-items: center;
    /*padding-left: 100px;*/
    /*padding-bottom: 50px;*/
}
.about__contain-img{
    border: 15px solid #fff;
    border-radius: 10px;
    margin-right: 15px;
    /*margin-left: 15px;*/
    width: 50%; 
}
.about__contain-img img{
    width: 100%;
}
/*.img-fluid {
    max-width: 100%;
    height: auto;
}*/
img{
    vertical-align: middle;
    border-style: none;
}
.about__contain-text{
    /*margin-left: 15px;
    margin-right: 15px;*/
    margin-left: 15px;
    width: 50%;
    font-size: 14px;
    color: #c5c5c5;
    line-height: 24px;
    font-family: 'Rubik', sans-serif;
}
.about__contain-text p{
    margin-bottom: 20px;
}
.about__title{
    margin-bottom: 75px;    
}
.about__title h2:after{
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(165, 165, 165), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(165, 165, 165), rgba(0, 0, 0, 0));
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 1px;
    width: 100%; 
    content: "";    
    max-width: 300px;
    margin: 0 auto;
}
.color-text {
    color: #ffc209;
}
.about__title h2 {
    position: relative;
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 1.3;
    text-transform: capitalize;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}
::after, ::before {
    box-sizing: border-box;
}
.about__contain-text h3{
    font-size: 25px;
    padding-bottom: 10px;
}
.about__contain-text h6{
    padding-bottom: 20px;
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.btn-cv{
    position: relative;
    padding: 9px 15px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;    
       
}
.btn-cv::after{
    content: '';
    width: 45%;
    height: 100%;
    background: rgba(255, 255, 255, 0.07);   
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease;
}
.btn-cv:hover::after{
    width: 100%;
    background: rgba(255, 255, 255, 0.07);     
}  
/***************** F I N   A B O U T ****************/

/***************** S E R V I C I O S ***************/
.service-area{
    background-color: #0c0f16;
}
.service__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
/*.service__title h2{
    position: relative;
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 1.3;
    text-transform: capitalize;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 75px;
}
.service__title h2:after{
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(165, 165, 165), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(165, 165, 165), rgba(0, 0, 0, 0));
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 1px;
    width: 100%; 
    content: "";    
    max-width: 300px;
    margin: 0 auto;
}*/
.service__wrapper{
    width: 100%;
}
.service__wrapper .service__carousel{    
    /*overflow: hidden;*/
    width: 100%;
    margin: auto;
    padding: 0px;
}
/*.service__carousel .card{
    background: #151921;    
    text-align: center;
    color: #fff;   
    font-weight: 600;
    margin: 20px 10px;
    
}*/
/*.card-1, .card-2, .card-3, .card-4{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}*/
.card{    
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    /*transition: all 2s ease-in;*/
    background: #151921;
    text-align: center;
    color: #fff;
    font-weight: 600;
    padding-top: 30px;
    margin: 20px 10px;
    transition: all 1s ease;
}
/*.card::before{
    position: absolute;
    content: "";
    left: 0px;
    right: 0px;
    bottom: 0;
    min-width: 100%;
    border-bottom: 2px solid #f55422;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transform: scaleX(0);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}*/
.card-rombo{     
    height: 80px;
    width: 80px;
    border-radius: 20px;
    background: rgba(200, 200, 200, 0.07);
    transform: rotate(45deg);
    transition: all 0.3s ease-in;
}
.card:hover .card-rombo i{
    color: white;
    
}
.card:hover .card-rombo{
    background-color: #f55422;
    
}
/*.card:hover {
    border-bottom: 1px solid #f55422;   
}*/

.card-rombo i{
    color: #f55422;
    font-size: 40px;
    line-height: 80px;
    transform:rotate(-45deg);
    transition: all 0.3s ease-in;
}
.service__text h3{
    padding-top: 30px;
    padding-bottom: 30px;
}
.service__text p{
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
/***************** F I N   S E R V I C I O S ***************/
/***************** W O R K  &  E D U C A T I O N *************/
.education__row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
/*.education__title h1{
    position: relative;
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 1.3;
    text-transform: capitalize;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 75px;
}
.education__title h1:after{
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(165, 165, 165), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(165, 165, 165), rgba(0, 0, 0, 0));
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 1px;
    width: 100%; 
    content: "";    
    max-width: 300px;
    margin: 0 auto;
}*/
.education__content{    
    display: flex;
    justify-content: space-between;   
    /*margin: 0 15px;*/
    width: 100%;
}
.timeline{    
    background-color: #0c0f16;
    margin: 0 10px;
    width: 50%;
    padding: 30px 30px 40px 30px;
}
.timeline-item{
    position: relative;
    display: flex;
}
.timeline-item:last-child .timeline-item--box{
    margin-bottom: 0;
}
.timeline-item--icon::after{
    position: absolute;
    content: "";
    left: auto;
    top: auto;
    width: 8px;
    height: 8px;
    background-color: #f55422;
    border-radius: 50%;    
    margin-top: 10px;
    margin-left: -3px;
}
.timeline-item--icon::before{
    position: absolute;
    content: "";
    left: auto;
    top: auto;
    width: 1px;   
    height: calc(100% - 30px);
    background-color: #f55422;
    margin-top: 30px;
}
.timeline-item--box{
    padding-left: 30px ;
    margin-bottom: 50px;
}

.timeline-item--box h5{
    font-size: 18px;    
    margin-bottom: 10px;
}
.timeline-item--box small{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 5px 12px;
    background-color: #f55422;
}
.timeline-item--box p{
    font-size: 14px;
    margin-top: 18px;
    
}

/***************** F I N  W O R K  &  E D U C A T I O N *************/
/********** R E S P O N S I N G   D E S I G N *********/

@media only screen and (max-width: 800px){
    .container{    
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .header__text-center h3{
        margin-bottom: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .header__text-content-words h1{
        margin-bottom: 20px;  
        font-size: 33px;
        font-weight: bolder;  
    }
    .about__contain{
        display: flex;
        flex-direction: column;
        align-items: center;
        /*padding-left: 100px;*/
        padding-bottom: 50px;
    }
    .about__contain-img{
        border: 15px solid #fff;
        border-radius: 10px;
        /*margin-right: 15px;*/
        margin: 0px;
        width: 100%;
    }
    .about__contain-text{
    /*margin-left: 15px;
    margin-right: 15px;*/
        margin: 0;
        padding-top: 30px;
        width: 100%;
        font-size: 14px;
        color: #c5c5c5;
        line-height: 24px;
        font-family: 'Rubik', sans-serif;
    }   
    .btn-cv{       
        letter-spacing: 1px;
        font-size: 14px;         
    }
    .about__contain{
        /*display: flex;
        justify-content:space-between;   
        flex-direction: row;*/   
        
        
        padding-bottom: 0;
    }
}