.main{
    background-color: #11141b;  
    padding-top: 50px; 
    
}
.main__about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    color: white;  
}
.main__contain{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding-left: 100px;
    padding-bottom: 50px;
}
.main__contain-img{
    border: 15px solid #fff;
    border-radius: 10px;
    
}
.main__contain-img img{
    width: 100%;
}
img{
    vertical-align: middle;
    border-style: none;
}
.main__contain-right{
    padding-left: 30px;
    padding-right: 100px;
    width: 50%;
    font-size: 14px;
    color: #c5c5c5;
    line-height: 24px;
    font-family: 'Rubik', sans-serif;
}
.main__title{
    margin-bottom: 75px;    
}
.main__title h2:after{
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(165, 165, 165), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%; 
    content: "";
    bottom: 0px;
    max-width: 300px;
    margin: 0 auto;
}
.color-text {
    color: #ffc209;
}
.main__title h2 {
    position: relative;
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 1.3;
    text-transform: capitalize;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}
::after, ::before {
    box-sizing: border-box;
}
.main__contain-right h3{
    font-size: 25px;
}
.main__contain-right h6{
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.btn-cv::after{
    content: '';
    width: 45%;
    height: 100%;
    background: rgba(255, 255, 255, 0.07);
    
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
}
.btn-cv{
    position: relative;
    padding: 9px 15px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;    
    font-family: 'Teko', sans-serif;
    
}
.btn-cv:hover::after{
    width: 100%;
    background: rgba(255, 255, 255, 0.07);
}    
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;    
}
a{
    transition: all 0.5s ease-in-out 0s;
    
}
a:hover{
    opacity: .5;
}
.menu-nav{        
    width: 100%;        
    z-index: 1;    
    position: fixed; 
}
.menu-nav__link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 250px;    
      
}
.fixed-top{
     height: 80px;     
     background-color: white;         
     transition: all 1s ease-in-out;
}
.removeFixed{
    background-color: transparent;
    transition: all .7s linear;
}
.menu-nav.fixed-top--color  a{
    color: black;
}
.menu-nav__link > a{
    /*padding-left: 20px;*/    
    font-size: 30px;
    text-decoration: none;
    color: #ffc209;
    font-weight: bold;
    opacity: 1;
}
ul{
    display: flex;
    justify-content: flex-end;
}
ul li{
    list-style: none; 
    padding-left: 30px;   
}
ul a{
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.header{
    background: url(./imagenes/home-bg.jpg);
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    /*height: 100vh;*/
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: 0;
    padding-bottom: 0px;
}   
.hero__equal{
    position: relative;
    min-height: 660px;
    /*width: 100%;
    height: 100%;*/
}
.header__text-center{
    position: absolute;    
    bottom: 100px;
    color: white;
}
.header__text-center h3{
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.header__text-content-words h1{
    margin-bottom: 20px;  
    font-size: 60px;
    font-weight: bolder;  
}
.header__socialmedia a{
    display: inline-block;
    color: white;
    padding: 0px 10px;    
}

.button{    
    display:inline-block;    
    padding: 12px 30px;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;    
    color: white;
    background-color: #f55422; 
    margin-right: 15px;    
    margin-top: 25px;
    margin-bottom: 50px;
    vertical-align: middle;
    transition: all 0.5s ease-in-out;
    border: 2px solid #f55422;
    text-decoration: none;
    
}
.button:hover{
    color: #fff;
    background: transparent;
    border: 2px solid #f55422;
    opacity: 1;
}